:root {
    --bg-color: #1c1c1c;                 
    --container-bg-color: #1f2937;       
    --button-bg-color: #273549;          
    --button-hover-color: #7dd3fc;       
    --line-color: #2e3d52;               
    --text-color: #ffffff;               
    --secondary-text-color: #d5d4d8;     
    --accent-color: #38bdf8;            
  }
  